services:
    # authentication failure event listener
    syrphus.security.authentication.failure_listener:
        class: TestForge\Syrphus\SecurityBundle\Listener\AuthenticationListener
        arguments:  ['@doctrine.orm.entity_manager']
        tags:
            - { name: kernel.event_listener, event: security.authentication.failure, method: onAuthenticationFailure }

    # authentication success event listener
    syrphus.security.interactive_login_listener:
        class: TestForge\Syrphus\SecurityBundle\Listener\AuthenticationListener
        arguments:  ['@doctrine.orm.entity_manager']
        tags:
            - { name: kernel.event_listener, event: security.interactive_login, method: onAuthenticationSuccess }

    syrphus.security.interactive_logout_listener:
        class: TestForge\Syrphus\SecurityBundle\Listener\AuthenticationListener
        arguments:  ['@doctrine.orm.entity_manager']

    syrphus.security.role_hierarchy:
        class: TestForge\Syrphus\SecurityBundle\TestForgeSyrphusSecurityBundle\Services\RoleHierarchy
        arguments:  ['@doctrine.orm.entity_manager']